.course-container{
    display: inline-flex;
}
.course-card{
    width: 220px;
    height:320px;
    margin:10px 10px;
    background-color: white;
}
.course-name{
    text-align: center;
}
.course-description{
    margin:10px 0px;
    padding:5px 10px;
    font-size: 12px;
}
.details{
    display: flex;
    margin:10px 0px;
}
.course-type{
    width:50%;
    font-weight: bold;
}
.course-buttons{
    display: flex;
}
.btn{
    width:140px;
}